<div>
    <h3 class="pink-header">Comments
        <% if comments.present? %>
          (<%= comments.size %>)
        <% end %>
    </h3>
    <div class="form-group">
      <% if comments.present? %>
        <% comments.each do |comment| %>
          <h3 class="pink-header" style="font-size:14px;"><%= comment.content %> .  <span style="font-size:8px;color:grey;">Authored by:<%= comment.author.displayName %></span></h3>
          <% if comment.replies.length > 0 %>
            <% comment.replies.each do |reply| %>
              <div style="padding-left: 10px;">
                <% if (!reply.content || reply.content == "") && reply.verb == "resolve" %>
                  Status: <%= text_field_tag "status", "Marked as resolved", class: "form-control", placeholder: "Status", readonly: "readonly" %>
                <% elsif (!reply.content || reply.content == "") && reply.verb == "reopen" %>
                  Status: <%= text_field_tag "status", "Re-opened", class: "form-control", placeholder: "Status", readonly: "readonly" %>
                <% else %>
                  Reply: <%= text_field_tag "reply", reply.content, class: "form-control", placeholder: "Reply", readonly: "readonly" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <h3 class="pink-header">No File comments, post one below.</h3>
      <% end %>
    </div>
</div>
<div id="comment-add-container-modal">
   <%= form_tag(file_comments_path(params[:file_id]), :method => "post", remote: true) do %>
      <br>
      <%= text_field_tag "content", nil, placeholder: 'Post comment content here...', class: "white-pink" %>
      <%= submit_tag "Post", class: 'btn' %>
    <% end %>
</div>
