<h3 class="pink-header">Create Task</h3>
<div id="js-task-create-result-body" class="modal-body">
  <%= form_tag(task_list_tasks_path(task_list_id), :id => "create_task", :method => "post", remote: true) do %>
    <div class="form-group">
      <%= hidden_field_tag "task_list_id", task_list_id %>
      Title: <%= text_field_tag "task[title]", "", class: "white-pink", placeholder: "Title" %>
      Notes: <%= text_field_tag "task[notes]", "", class: "white-pink", placeholder: "Notes" %>
      Due: <%= text_field_tag "task[due]", "#{DateTime.now.strftime('%d/%m/%Y %H:%M')}", class: "white-pink" %>
      <%= hidden_field_tag "task[circle_id]", "" %>
      <br>
      <%= submit_tag "Add", class: "btn" %>
    <% end %>
    </div>
</div>
<div id="js-task-create-result-footer">
</div>
