
var html_id = '#' + '<%= @task.id %>'

$(html_id).hide();

console.log('herer')

var task_id = '<%= @task.id %>'
var status = '<%= @task.status %>'
var title = '<%= @task.title %>'
var notes = '<%= @task.notes %>'
var completed = '<%= @task.completed %>'
var taskListId = '<%= @task_list_id %>'
var dueDate = '<%= @task.due %>'

$("#js-update-task-modal-body").html("<%= escape_javascript(render partial: 'task_complete', locals: { task: @task }) %>");

$('#completedTasks').show();
$('#tasksCompleted').append(
	'<div id=' + task_id + '>' +
      '<p>'+ '- Title: ' + title + ', Notes: ' + notes + ', Completed at: ' + completed.substring(0,10) + '</p>'+
      '<p>'+
        ' <a class="btn btn-sm btn-main-o" data-toggle="modal" data-target="#modal-window" data-remote=true href="/task_lists/' + taskListId + '/tasks/' + task_id + '/destroy">Delete</a>'+
        ' <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-window" data-remote=true href="/task_lists/' + taskListId + '/tasks/' + task_id + '">Update</a>'+
      '</p>' +
    '</div>'
);


