
$('#js-task-create-result-body').empty();

var html = '<p>' + ' Task added successfully ' + title + 
			     '</p>' 
			
$('#js-task-create-result-footer').show();
$('#js-task-create-result-body').append(html);

task = {
  id: '<%= @task.id %>',
  title: '<%= @task.title %>',
  due: '<%= @task.due %>',
  completed: '<%= @task.completed %>',
  notes: '<%= @task.notes %>',
  status: '<%= @task.status %>'
}

var taskListId = '<%= @task_list_id %>'

$('#tasks-pending-container').prepend(
     uiHelper.tasksHtml(task, taskListId)
);

Webflow.require("slider").redraw();