<h3 id="myModalLabel">Create Event</h3>
<div id="js-add-event-content-body" class="modal-body">
  <%= form_tag("/calendars/primary/events", :id => "create_event_form", :method => "post", remote: true) do %>
    <div class="form-group">
      Summary: <%= text_field_tag "event[summary]", "", class: "form-control", placeholder: "Summary" %>
      Start Time: <%= text_field_tag "event[start_time]", "#{Time.now.strftime('%d/%m/%Y %I:%M')}", class: "form-control", id: "start_time_event" %>
      End Time: <%= text_field_tag "event[end_time]", "#{(Time.now+1.hour).strftime('%d/%m/%Y %I:%M')}", class: "form-control", placeholder: "End Time", id: "end_time_event" %>
      Location: <%= text_field_tag "event[location]", "", class: "form-control", placeholder: "Location" %>
      Attendees :-
      Name: <%= text_field_tag "event[attendee_name]", "", class: "form-control", placeholder: "Attendee Name" %>
      Email: <%= text_field_tag "event[attendee_email]", "", class: "form-control", placeholder: "Attendee Email" %>
      Description: <%= text_field_tag "event[description]", "", class: "form-control", placeholder: "Description" %>
      Status: <%= text_field_tag "event[status]", "confirmed", class: "form-control", placeholder: "Status" %>
      Visibility: <%= text_field_tag "event[visibility]", "default", class: "form-control", placeholder: "Visibility" %>
            <%= hidden_field_tag "event[circle_id]", params[:id] %>
            <br>
            <%= submit_tag "Add", class: "btn btn-main-o" %>
  <% end %>
</div>
