
  <h3 class="pink-header">Event Details</h3>
  <div>
    <%= form_tag("/calendars/primary/events/#{event.id}", :id => "update_event", :method => "put") do %>
      <div class="form-group">
        Summary: <%= text_field_tag "event[summary]", event.summary, class: "white-pink", placeholder: "Summary", id: "summary" %>
        Start Time: <%= text_field_tag "event[start_time]", event.start.dateTime, class: "white-pink", placeholder: "Start Time", id: "start_time" %>
        End Time: <%= text_field_tag "event[end_time]", event.end.dateTime, class: "white-pink", placeholder: "End Time", id: "end_time" %>
        Location: <%= text_field_tag "event[location]", event.location, class: "white-pink", placeholder: "Location", id: "location" %>
        Organizer Name: <%= text_field_tag "event[organizer_name]", event.organizer.displayName, class: "white-pink", placeholder: "Organizer Name", id: "organizer_name" %>
        Organizer Email: <%= text_field_tag "event[organizer_email]", event.organizer.email, class: "white-pink", placeholder: "Organizer Email", id: "organizer_email" %>
        Creator Name: <%= text_field_tag "event[creator_name]", event.creator.displayName, class: "white-pink", placeholder: "Creator Name", id: "creator_name" %>
        Creator Email: <%= text_field_tag "event[creator_email]", event.creator.email, class: "white-pink", placeholder: "Creator Email", id: "creator_email" %>
        <% if event.attendees %>
          Attendees (<%= event.attendees.length %>) :-
          <% event.attendees.each_with_index do |attendee, index| %>
            <%= index + 1 %> :
            Name: <%= text_field_tag "event[attendee_name][]", attendee.displayName, class: "white-pink", placeholder: "Attendee Name", id: "attendee_name_#{index+1}" %>
            Email: <%= text_field_tag "event[attendee_email][]", attendee.email, class: "white-pink", placeholder: "Attendee Email", id: "attendee_email_#{index+1}" %>
            Response Status: <%= text_field_tag "event[attendee_response_status][]", attendee.responseStatus, class: "white-pink", placeholder: "Attendee Response Status", id: "attendee_response_status_#{index+1}" %>
          <% end %>
        <% end %>
        Description: <%= text_field_tag "event[description]", event.description, class: "white-pink", placeholder: "Description", id: "description" %>
        Status: <%= text_field_tag "event[status]", event.status, class: "white-pink", placeholder: "Status", id: "status" %>
        Visibility: <%= text_field_tag "event[visibility]", event.visibility, class: "white-pink", placeholder: "Visibility", id: "visibility" %>
      </div>
    <% end %>
  </div>

<script type="text/javascript">
  $('#update_button').click(function(){
    $('#update_event').submit();
  });
</script>