<div id="file_comments_modals"></div>

<div class="modal fade" id="modal-window-signin-error" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-small-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Authentication Error</h3>
			</div>
			<div id="signin-in-error-modal-body" class="modal-body">
			</div>
			<div id="" class="modal-footer">
				<button id="" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true"></div>
					
<div class="modal fade" id="modal-window-quick-create-event" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Quickly Add Event</h3>
				<p>Same principles as google quick add.</p>
			</div>
			<div id="quick-events-modal-body" class="modal-body">
				<%= form_tag("/calendars/primary/events/quick_add", :method => "post", remote: true) do %>
					<div class="form-group">
						Text: <%= text_field_tag "event[text]", "", class: "form-control", placeholder: "e.g 10am deliver report", id: "text" %>
						<%= hidden_field_tag "event[circle_id]", params[:id] %>
					</div>
				  <%= submit_tag "Add", class: "btn btn-main-o" %>
				<% end %>
			</div>
			<div id="quick_create_event_footer" class="modal-footer" style="display:none;">
				<button id="quick_create_button_close" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-friends-collaborate" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Interact with people</h3>
			</div>
			<div id="people-collaborate-modal-body" class="modal-body">
				
			</div>
			<div id="" class="modal-footer" style="display:none;">
				<button id="" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-event" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-default-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create Event</h3>
			</div>
			<div id="js-add-event-content-body" class="modal-body">
				<%= form_tag("/calendars/primary/events", :id => "create_event_form", :method => "post", remote: true) do %>
					<div class="form-group">
						Summary: <%= text_field_tag "event[summary]", "", class: "form-control", placeholder: "Summary" %>
						Start Time: <%= text_field_tag "event[start_time]", "#{DateTime.now.strftime('%d/%m/%Y %H:%M')}", class: "form-control", id: "start_time_event" %>
						End Time: <%= text_field_tag "event[end_time]", "#{(DateTime.now+1.hour).strftime('%d/%m/%Y %H:%M')}", class: "form-control", placeholder: "End Time", id: "end_time_event" %>
						Description: <%= text_field_tag "event[description]", "", class: "form-control", placeholder: "Description" %>
						Location: <%= text_field_tag "event[location]", "", class: "form-control", placeholder: "Location" %>
						Attendees :-
						ByTeam: <%= text_field_tag "event[attendee_team_ids]", "", class: "form-control", id: "search_calendar_ppl" %>
						Others :-
						<br>
						HangoutLink: <%= text_field_tag "event[hangout_link]", "", class: "form-control", placeholder: "paste Link" %>
          				<%= hidden_field_tag "event[circle_id]", params[:id] %>
          				<br>
          				<%= submit_tag "Add", class: "btn btn-primary" %>
					</div>
				<% end %>
				
			</div>
			<div class="modal-footer">
				<button class="btn btn-main-o" data-dismiss="modal" aria-hidden="true">Close</button>
				<button id="add-another-event" style="display:none" class="btn btn-primary" aria-hidden="true">Add Another</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-circle" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create Circle</h3>
			</div>
			<div class="modal-body">
				<%= form_tag(circles_path, :id => "create_circle_form", :method => "post") do %>
					<div class="form-group">
						Name: <%= text_field_tag "circle[display_name]", "", class: "form-control", placeholder: "Enter Name", id: "name" %>
						Description: <%= text_area_tag "circle[description]", "", class: "form-control", placeholder: "Description", id: "description" %>
						<%= hidden_field_tag "circle[user_id]", "" %>
					</div>
				<% end %>
			</div>
			<div class="modal-footer">
				<button class="btn btn-main-o" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="create_button_circle">Create</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-new-ss" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">New SpreadSheet</h3>
			</div>
			<div id="new-ss-modal-body" class="modal-body">
				<%= form_tag(insert_new_files_path, :method => "post", remote: true) do %>
					<div class="form-group">
						Text: <%= text_field_tag "title", "", class: "form-control", placeholder: "Enter a SS title", id: "title" %>
						<%= hidden_field_tag "mimeType", "application/vnd.google-apps.spreadsheet" %>
					</div>
				  <%= submit_tag "Add", class: "btn" %>
				<% end %>
			</div>
			<div id="new-ss-modal-footer" class="modal-footer" style="display:none;">
				<button id="new-ss-insert-close" class="btn btn-main-o" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-spreadsheet" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Import Spreadsheet</h3>
			</div>
			<div class="modal-body">
				<%= form_tag(files_path, :id => "create_spreadsheet_form", :method => "post", :multipart => true) do %>
					<div class="form-group">
						Select Spreadsheet: <%= file_field_tag "file", class: "form-control", :accept => ".csv, .xlsx, .xls" %>
						<%= hidden_field_tag "circle_id", params[:id] %>
					</div>
				<% end %>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="create_button_spreadsheet">Create</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-new-doc" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">New Document</h3>
			</div>
			<div id="new-doc-modal-body" class="modal-body">
				<%= form_tag(insert_new_files_path, :method => "post", remote: true) do %>
					<div class="form-group">
						Text: <%= text_field_tag "title", "", class: "form-control", placeholder: "Enter a document title", id: "title" %>
						<%#= hidden_field_tag "event[circle_id]", params[:id] %>
						<%= hidden_field_tag "mimeType", "application/vnd.google-apps.document" %>
					</div>
				  <%= submit_tag "Add", class: "btn" %>
				<% end %>
			</div>
			<div id="new-doc-modal-footer" class="modal-footer" style="display:none;">
				<button id="new-doc-insert-close" class="btn btn-main-o" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-document" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Import Document</h3>
			</div>
			<div class="modal-body">
				<%= form_tag(files_path, :id => "create_document_form", :method => "post", :multipart => true) do %>
					<div class="form-group">
						Select Document: <%= file_field_tag "file", class: "form-control" %>
						<%= hidden_field_tag "circle_id", params[:id] %>
					</div>
				<% end %>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="create_button_document">Create</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-tasklist" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
	  	<div class="modal-content">
	    	<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      		<h3 id="myModalLabel">Create Task List</h3>
	    	</div>
	    	<div class="modal-body">
	      		<%= form_tag(task_lists_path, :id => "create_tasklist_form", :method => "post") do %>
	        		<div class="form-group">
	          			Title: <%= text_field_tag "task_list[title]", "", class: "form-control", placeholder: "Title" %>
	        		</div>
	      		<% end %>
	    	</div>
	    	<div class="modal-footer">
	      		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	      		<button class="btn btn-primary" id="create_button_tasklist">Create</button>
	    	</div>
	  	</div>
	</div>
</div>
