<div class="modal-dialog modal-default-width">
  <div class="modal-content">
    <div class="modal-body" id="friend-networks-container">
          <a class="btn" href="https://contacts.google.com/preview/all" target="_blank">View Contacts</a>
          <h3 class="pink-header">Your added Colleagues</h3>
          <% peoples.items.each_with_index do |people, index| %>
          <div class="about-employee" style="background-image: url(""); height:200px;">
              <div class="table-cell-wrapper">
                <div class="cell-settings" style="padding:5px;" >
                  <a class="user-button-landing action-button" style="padding-right:5px;"  href="<%= people.url %>" target="_blank">
                    <img class="grid-button" src="<%= people.image.url %>" alt="asset error">
                  </a>
                  <a class="user-button-landing action-button"  onclick="userHelper.addToTeam(this)" data-name="<%= people.displayName %>" data-id="<%= people.id %>" href="javascript:void(0);"> 
                    <img class="contact-icon" src="<%= asset_path('t-add icon.png') %>" alt="asset-error"><%= people.displayName %>
                  </a>
                </div>
              </div>
          </div>
          <% end %>
    </div>
    <div id="add-to-team-form" style="display:none;">
        <h3 class="pink-header">Choose which team to add <span id="people-name-placeholder" ></span> to;</h3>
        <%= form_tag(add_friend_to_team_peoples_path, :method => "post", remote: true) do %>
                <%= hidden_field_tag "person_google_id", "" %>
                  <div id="add-to-which-team-container">
                  </div>
                <%= submit_tag "Add", class: "btn" %>
        <% end %>
    </div> 
    <div class="modal-footer">
      <p>Press ESC to exit</p>
    </div>
  </div>  <!-- end of MODAL-CONTENT -->
</div> <!-- end of MODAL -->

