<div class="modal-dialog modal-default-width">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" class="modal-text-center">Friends List</h3>
    </div>
    <div class="modal-body">
          <% peoples.items.each_with_index do |people, index| %>
            <% if index%2 == 0 %>
              <div class="row">
            <% end %>
              <div class="col-md-6">
                <div class="feature-boxs-wrapper">
                  <div class="feature-box-style2">
                    <div class="feature-box-title">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="feature-box-containt">
                      <h3><a href="<%= people.url %>" target="_blank"><%= people.displayName %></a></h3>
                      <p><a href="<%= people.url %>" target="_blank"><img src="<%= people.image.url %>"></a></p>
                      <a class="btn btn-sm btn-primary" onclick="helper.loadHangOut(this)" data-id="<%= people.id %>">Video.call</a>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            <% if index%2 != 0 %>
              </div>
            <% end %>
          <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>

