<div id="file_comments_modals"></div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="modal fade" id="modal-window-add-circle-member" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      	<h3 id="myModalLabel">Search</h3>
		    </div>
		    <div class="modal-body">
		      	<%= form_tag(search_peoples_path, :id => "add_circle_member_form", class: "contactForm", :method => "get") do %>
		      		You are searching by email
		        	<div class="form-group">
		          		<label for="query">Search:</label>
		          		<div class="controls">
		          			<%= text_field_tag "query", "", class: "form-control requiredField", placeholder: "Search" %>
		          			<%= hidden_field_tag "circle_id", params[:id] %>
		          		</div>
		        	</div>
		      	<% end %>
		    </div>
		    <div class="modal-footer">
		      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		      <button class="btn btn-primary" id="create_button_circle_member">Search</button>
		    </div>
	  	</div>
	</div>
</div>

<div class="modal fade" id="modal-window-circle-members-result" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-search-width">
		<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      	<h3 id="myModalLabel" style="text-align: center;">Search Result</h3>
		    </div>
		    <div class="modal-body">
		    	<%= form_tag(add_people_peoples_path, :id => "add_circle_member_search_form", :method => "post") do %>
		    		<%= hidden_field_tag "circle_id", params[:id] %>
		    		<div id="search_result"></div>
		    	<% end %>
		    	<div class="hide">
		    		<%= form_tag(search_peoples_path, :id => "add_circle_member_search_form", :method => "get") do %>
		    			<%= hidden_field_tag "query", params[:query] %>
		    			<%= hidden_field_tag "circle_id", params[:id] %>
		    			<div id="next_results"></div>
		    		<% end %>
		    	</div>
		    	<button class="btn btn-primary pull-right" id="next_button_circle_member_search">Next</button>
		    </div>
		    <div class="modal-footer">
		      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		      <button class="btn btn-primary" id="create_button_circle_member_search">Add</button>
		    </div>
	  	</div>
	</div>
</div>

<div class="modal fade" id="modal-window-circle-add-message" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-search-width">
		<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      	<h3 id="myModalLabel" style="text-align: center;">Add message</h3>
		    </div>
		    <div id="modal-body-circle-add-message" class="modal-body">
		    	<%= form_tag(add_message_circle_path, :method => "post", remote: true) do %>
					<div class="form-group">
						Message: <%= text_area_tag "circle[message]", "", class: "form-control", placeholder: "Enter some text as a message", id: "message_text" %>
						<br>
						<%= submit_tag "Add Message",  class: "btn btn-main-o" %>
					</div>
				<% end %>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		    </div>
	  	</div>
	</div>
</div>

<div class="modal fade" id="modal-window-destroy-item" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-small-width">
		<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    </div>
		    <div id="js-item-delete-result-body" class="modal-body">
		        <h3 id="myModalLabel">Are you sure?</h3>
		        <%= form_tag(delete_item_circle_path, :method => "post", remote: true) do %>
		        <br>
		        <%= hidden_field_tag "circle[item_type]", "" %>
		        <%= hidden_field_tag "circle[item_id]", "" %>
		        <%= submit_tag "Yes, Delete", class: 'btn btn-main-o' %>
		        <% end %>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-main-o" data-dismiss="modal">Close</button>
		    </div>
	  	</div>
	</div>
</div>

<div class="modal fade" id="modal-window-circle-add-wallpin" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-search-width">
		<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      	<h3 id="myModalLabel" style="text-align: center;">Add message</h3>
		    </div>
		    <div id="modal-body-circle-add-wallpin" class="modal-body">
		    	<%= form_tag(add_wallpin_circle_path, :method => "post", remote: true) do %>
					<div class="form-group">
						Message: <%= text_area_tag "circle[summary]", "", class: "form-control", placeholder: "Enter some text as a message", id: "wallpin_summary" %>
						<br>
						File Link: <%= text_field_tag "circle[file_link]", "", class: "form-control", placeholder: "Enter a link", id: "wallpin_file_link" %>
						<br>
						<%= submit_tag "Add Pin",  class: "btn btn-main-o" %>
					</div>
				<% end %>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		    </div>
	  	</div>
	</div>
</div>

<div class="modal fade" id="modal-window-create-circle-document" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-medium-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Share a File with the Team</h3>
				<p>The upload creates a new copy in your personal folders, sharing that file with the team.</p>
			</div>
			<div class="modal-body">
				<%= form_tag(files_path, :id => "create_circle_document_form", class: "contactForm", :method => "post", :multipart => true) do %>
					<%= hidden_field_tag "circle_id", params[:id] %>
					<div class="form-group">
						<label for="file">Select Document:</label>
						<div class="controls">
							<%= file_field_tag "file", class: "form-control requiredField" %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" id="create_button_circle_document">Create</button>
			</div>
		</div>
	</div>
</div>





