  
  <!-- mobile navBar -->
  <div class="w-nav w-hidden-main w-hidden-medium mobile-navbar" data-collapse="small" data-animation="over-right" data-duration="300" data-contain="1" data-easing="ease-in-out-sine" data-easing2="ease-in-out-sine">
    <!-- mobile navWrapper -->
    <nav class="w-container mobile-navbar-container">
      <a class="w-nav-brand brand" href="index.html"><img class="mobile-logo" src="<%= asset_path('mobile logo.svg') %>" width="64" alt="54bcd9f13547bc7d5fbb298a_mobile%20logo.svg">
      </a>
      <!-- navDrownDown -->
      <nav class="w-nav-menu mobile-nav-menu" role="navigation">
        <img class="mobile-close-button" src="<%= asset_path('mobile close button.png') %>" width="22" alt="548c3f65e84cbe797dc33e5a_mobile%20close%20button.png">
          <!-- navDrownDown links -->
          <div class="mobile-slide-menu-container">
            <a class="w-nav-link mobile-nav-link" href="work.html">Work</a>
            <a class="w-nav-link mobile-nav-link" href="concepts.html">Concepts</a>
            <a class="w-nav-link mobile-nav-link" href="about.html">About</a>
            <a class="w-nav-link mobile-nav-link" href="contact.html">Contact</a>
          </div>
      </nav>
      <div class="w-nav-button mobile-menu-button">
        <img class="hamburger" src="<%= asset_path('hamburger.svg') %>" width="23" alt="548f1dbcc9dd0f7c3a0ce2a9_hamburger.svg">
      </div>
    </nav>
  </div> <!-- end of mobile nav -->

  <!-- navbar slideDown -->
  <div class="w-clearfix contact" data-ix="display-none">
    <a class="w-inline-block contact-tile" href="mailto:">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('mail icon.svg') %>" alt="548f17b6f166a77b3a94ad43_mail%20icon.svg">
          <h1 class="contact-title">email</h1>
          <div class="contact-text">contemplate@gmail.com</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _2" href="tel:3401545232">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('phone icon.svg') %>" alt="548f17c887202bb925402a34_phone%20icon.svg">
          <h1 class="contact-title">phone</h1>
          <div class="contact-text">3401545232</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _3" href="#">
        <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('map icon.svg') %>" alt="548f17d8c9dd0f7c3a0ce251_map%20icon.svg">
          <h1 class="contact-title">find me</h1>
          <div class="contact-text">Studio 1, West Hagley
          <br>United Kingdom</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _4" href="#">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('twitter icon.svg') %>" alt="54b16b55f585b18b3fbf63fc_twitter%20icon.svg">
        <h1 class="contact-title">Twitter</h1>
      </div>
    </a>
    <a class="w-inline-block contact-tile _5" href="#">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('facebook icon.svg') %>" alt="54b16b7a6ce3fe8c3f71ee1e_facebook%20icon.svg">
        <h1 class="contact-title">facebook</h1>
      </div>
    </a>
  </div> <!-- end of navBar -->

  <div class="w-clearfix content" data-ix="show-on-load">
    <!-- nav Menu -->
    <nav class="w-nav-menu nav-menu" role="navigation">
      <a class="w-nav-link navbar-link" href="work.html">Work</a>
      <a class="w-nav-link navbar-link" href="concepts.html">Concepts</a>
      <a class="w-nav-brand logo" href="/" data-ix="logo-hover">
        <img class="logo-black" src="<%= asset_path('contemplate black.svg') %>" alt="error">
        <img class="logo-pink" src="<%= asset_path('contemplate pink.svg') %>" alt="error">
      </a>
      <a class="w-nav-link navbar-link" href="about.html">About</a>
      <a class="w-nav-link navbar-link" href="#" data-ix="open-contact">Contact</a>
    </nav>  <!-- end of nav -->

    <div class="about-hero-container">
      <h1 class="about-hero-title">we redefine creativity</h1>
    </div>
    <div class="about-div image"></div>
    <div class="about-div">
      <p class="about">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text</p>
    </div>
    <div class="about-div title">
      <h1 class="h1-about">our team</h1>
    </div>
    <div class="about-div employees">
      <div class="w-clearfix employees-container">
        <div class="about-employee _1">
          <div class="employee-bio">
            <h4 class="employee-name">Vanessa fowler</h4>
            <p class="bio-text">Hipster-friendly travel enthusiast. Internet lover. Entrepreneur. Extreme web practitioner.</p>
          </div>
        </div>
        <div class="about-employee _2">
          <div class="employee-bio">
            <h4 class="employee-name">Adrian	Hart</h4>
            <p class="bio-text">Certified alcohol fan. Organizer. Creator. Communicator. Troublemaker. Friendly bacon geek. Wannabe tv buff.</p>
          </div>
        </div>
        <div class="about-employee _3">
          <div class="employee-bio">
            <h4 class="employee-name">Anthony	Meyer</h4>
            <p class="bio-text">Hardcore analyst. Bacon junkie. Music lover. Extreme tv fan. Lifelong beer scholar. Subtly charming entrepreneur.</p>
          </div>
        </div>
        <div class="about-employee _4">
          <div class="employee-bio">
            <h4 class="employee-name">Delia	Perez</h4>
            <p class="bio-text">Friend of animals everywhere. Freelance zombie practitioner. Unapologetic coffee junkie.</p>
          </div>
        </div>
        <div class="about-employee">
          <div class="employee-bio">
            <h4 class="employee-name">Wilfred	Kennedy</h4>
            <p class="bio-text">Music junkie. Total web advocate. Infuriatingly humble zombie aficionado. Writer. Twitter geek.</p>
          </div>
        </div>
        <div class="about-employee _5">
          <div class="employee-bio">
            <h4 class="employee-name">Victoria	Harmon</h4>
            <p class="bio-text">Evil zombie aficionado. Infuriatingly humble social media specialist. Unapologetic food fan.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-div slider">
      <div class="w-slider slider-about" data-animation="slide" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
          <div class="w-slide slide-about">
            <div class="about-slide-container"><img class="about-icon" src="<%= asset_path('passion.svg') %>" alt="54bacd914bcc750812060dfd_passion.svg">
              <h3>Passion</h3>
            </div>
          </div>
          <div class="w-slide slide-about">
            <div class="about-slide-container"><img class="about-icon" src="<%= asset_path('communication.svg') %>" alt="54bacd9ec3c251532765ee25_communication.svg">
              <h3>communication</h3>
            </div>
          </div>
          <div class="w-slide slide-about">
            <div class="about-slide-container"><img class="about-icon" src="<%= asset_path('diligence.svg') %>" alt="54bacdae7e1f4b52275c6e37_diligence.svg">
              <h3>diligence</h3>
            </div>
          </div>
          <div class="w-slide slide-about">
            <div class="about-slide-container"><img class="about-icon" src="<%= asset_path('innovation.svg') %>" alt="54bacdbd7e1f4b52275c6e39_innovation.svg">
              <h3 class="values-title">innovation</h3>
            </div>
          </div>
          <div class="w-slide slide-about">
            <div class="about-slide-container"><img class="about-icon" src="<%= asset_path('reliability.svg') %>" alt="54baccd50303bf091219d61d_reliability.svg">
              <h3>reliability</h3>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left slider-left-arrow"><img class="slider-arrow left" src="images/slider arrow right black.png" alt="5484735307b1191e1eaad7f8_slider%20arrow%20right%20black.png">
        </div>
        <div class="w-slider-arrow-right slider-left-arrow right"><img class="slider-arrow" src="images/slider arrow right black.png" alt="5484735307b1191e1eaad7f8_slider%20arrow%20right%20black.png">
        </div>
        <div class="w-slider-nav w-round slider-about-nav"></div>
      </div>
    </div>
    <div class="about-div title">
      <h1 class="h1-about">our values</h1>
    </div>
    <footer class="footer">
      <div class="w-clearfix footer-content">
        <div class="footer-text">Contemplate 2015&nbsp;</div>
        <a class="w-inline-block logo-small" href="index.html"><img src="images/contemplate white.svg" width="80" alt="54b1695f6ce3fe8c3f71ee0c_contemplate%20white.svg">
        </a>
        <div class="footer-text">All rights reserved</div>
      </div>
    </footer>
  </div>

