<div class="backstretch-overlayer"></div>

<!-- home-section -->
<section id="home-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        	<div class="flexslider home-slider">
				<ul class="slides">
                    <li>
                        <div class="flex-caption">
                            <div class="caption-animation">
                                <div class="caption-1">
                                    <h1 class="base-slider-bg-color"><%= @circle.display_name %></h1>
                                </div>
                                <div class="caption-2">
                                    <h3><%= @circle.description %></h3>
                                </div>
                                <div class="caption-3">
                                    <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= destroy_show_circle_path(@circle.id) %>"><i class="fa fa-trash-o"></i></a>
					                <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= edit_circle_path(@circle.id) %>"><i class="fa fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /home-section -->
<!-- white-section -->
<section id="white-section" class ="white-section-background">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        	<!-- col-md-12 -->
		    <div class="col-md-12">
		    	<div id="authOps" style="display:none;">
			        <div class="col-md-12">
			        </div>
	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div class="col-md-12">
			            	<div class="row" style="padding-top: 15px;">
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="add_team_member"><i class="fa fa-users"></i> TeamPpl.new</a>
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="create_team_message"><i class="fa fa-comment-o"></i> TeamMsg.post</a>
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="create_team_wallpin"><i class="fa fa-random"></i> TeamPin.post</a>
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="create_team_file"><i class="fa fa-file"></i> TeamFiles.new</a>
			            		</div>
			            	</div>

			            	<div class="row margin-bottom-15">
				            </div>

				            <div class="row" style="padding-top: 15px;">
			            		<div class="col-md-3 margin-bottom-15">
			            			
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="create_team_event"><i class="fa fa-tasks"></i> TaskList.new</a>
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			<a class="btn btn-primary btn-list-item" id="create_team_message"><i class="fa fa-file-o"></i> ProjectList.new</a>
			            		</div>
			            		<div class="col-md-3 margin-bottom-15">
			            			
			            		</div>
			            	</div>

			            	<div class="row margin-bottom-15">
				            </div>

				            <div class="row">
				            	<!-- col-md-12 -->
						        <div class="col-md-12">
				                    <!-- section-title -->
				                    <div class="section-title">
				                        <!-- main-title -->
				                        <div class="main-title">
				                            <h2><a id="team-members-view" href="javascript:void(0)">Members.view</a></h2>
				                        </div><!-- /main-title -->
				                    </div><!-- /section-title -->
						        </div><!-- /col-md-12 -->
						     </div>

				            <div class="row">
				            	<!-- col-md-12 -->
						        <div class="col-md-6">
				                    <!-- section-title -->
				                    <div class="section-title">
				                        <!-- main-title -->
				                        <div class="main-title">
				                            <h2>work.Messages</h2>
				                        </div><!-- /main-title -->
				                    </div><!-- /section-title -->
						        </div><!-- /col-md-12 -->
						        <div class="col-md-6">
				                    <!-- section-title -->
				                    <div class="section-title">
				                        <!-- main-title -->
				                        <div class="main-title">
				                            <h2>work.WallPins</h2>
				                        </div><!-- /main-title -->
				                    </div><!-- /section-title -->
						        </div><!-- /col-md-12 -->
						    </div>

						     <div class="row">
						        <!-- feature-boxs-wrapper -->
				                <div class="feature-boxs-wrapper">
				                    <!-- col-md-6 -->
				                    <div class="col-md-6" id="circle-messages-container">
				                        <!-- feature-box-style2 -->
				                        <% if @messages.count > 0 %>
					                        <% @messages.each do |m| %>
					                        <div id="message-<%= m.id %>" class="feature-box-style2">
					                            <!-- feature-box-title -->
					                            <div class="feature-box-title">
					                                <!-- icon -->
					                                <i class="fa fa-comment" style="background-color:grey;"></i>
					                            </div><!-- /feature-box-title -->
					                            <!-- feature-box-containt -->
					                            <div class="feature-box-containt">
					                               	<p><%= m.text %></p>
					                               	<p><%= m.added_by %></p>
				                               		<p><a data-id="<%= m.id %>" data-item="message" class="btn btn-main-o destroy-item"><i class="fa fa-trash-o"></i></a><p>
					                            </div><!-- /feature-box-containt -->
					                        </div><!-- /feature-box-style2 -->
					                        <% end %>
					                    <% else %>
					                    	<div class="feature-box-style2">
					                            <!-- feature-box-title -->
					                            <div class="feature-box-title">
					                                <!-- icon -->
					                                <i class="fa fa-comment" style="background-color:grey;"></i>
					                            </div><!-- /feature-box-title -->
					                            <!-- feature-box-containt -->
					                            <div class="feature-box-containt">
					                               	<p>No Messages</p>
					                            </div><!-- /feature-box-containt -->
					                        </div><!-- /feature-box-style2 -->
					                    <% end %>
				                    </div><!-- /col-md-6 -->
				                    <!-- col-md-6 -->
				                   
				                    <!-- col-md-6 -->
				                    <div class="col-md-6" id="circle-wallpins-container">
				                      <% if @wallpins.count > 0 %>
				                      	<% @wallpins.each do |wp| %>
				                        <div id="pin-<%= wp.id %>" class="feature-box-style2">
				                            <!-- feature-box-title -->
				                            <div class="feature-box-title">
				                                <!-- icon -->
				                                <i class="fa fa-thumb-tack" style="background-color:grey;"></i>
				                            </div><!-- /feature-box-title -->
				                            <!-- feature-box-containt -->
				                            <div class="feature-box-containt">
				                               	<p><%= wp.summary %></p>
				                               	<% if wp.file_link %>
				                               		<p><a href="<%= wp.file_link %>" target="_blank">LinkToFile</a></p>
				                                <% end %>
				                               	<p><% wp.added_by %></p>
			                               		<p><a data-id="<%= wp.id %>" data-item="pin" class="btn btn-main-o destroy-item"><i class="fa fa-trash-o"></i></a> <a data-id="<%= wp.id %>" data-item="pin" class="btn btn-primary destroy-item"><i class="fa fa-calendar-o"></i></a><p>
				                            </div><!-- /feature-box-containt -->
				                        </div><!-- /feature-box-style2 -->
				                        <% end %>
				                      <% else %>
				                      	<div class="feature-box-style2">
					                            <!-- feature-box-title -->
					                            <div class="feature-box-title">
					                                <!-- icon -->
					                                <i class="fa fa-comment" style="background-color:grey;"></i>
					                            </div><!-- /feature-box-title -->
					                            <!-- feature-box-containt -->
					                            <div class="feature-box-containt">
					                               	<p>No wallPins</p>
					                            </div><!-- /feature-box-containt -->
					                        </div><!-- /feature-box-style2 -->
				                      <% end %>
				                    </div><!-- /col-md-6 -->
				               </div><!-- /feature-boxs-wrapper -->


				            </div>
				            <!--####################################### /Team Tasks ###################### -->

				          	 <!--####################################### Team Files ###################### -->
				            <div class="row margin-bottom-15">
				            </div>
				            <div class="row">
				            	<!-- col-md-12 -->
						        <div class="col-md-12">
				                    <!-- section-title -->
				                    <div class="section-title">
				                        <!-- main-title -->
				                        <div class="main-title">
				                            <h2>Team Files</h2>
				                        </div><!-- /main-title -->
				                    </div><!-- /section-title -->
						        </div><!-- /col-md-12 -->
						        <div class="feature-boxs-wrapper">
						        	<div id="driveTeamFiles" style="display:none;">
				              		</div>
					                <div id="noDriveTeamFiles" style="display:none;">
					                	<div class="col-md-12">
					                		<div class="feature-box-style2">
					                			<div class="feature-box-title">
					                				<i class="fa fa-file"></i>
					                			</div>
					                			<div class="feature-box-containt">
					                				<h3>No Team Files!!!!</h3>
					                			</div>
					                		</div>
					                	</div>
					                </div>
				              	</div>
				            </div>
				            <!--####################################### /Team Files ###################### -->


				          	<!--####################################### Team Members ###################### -->
				            <div id="team-members-anchor" class="row">
				            	<!-- col-md-12 -->
						        <div class="col-md-12">
				                    <!-- section-title -->
				                    <div class="section-title">
				                        <!-- main-title -->
				                        <div class="main-title">
				                            <h2>Team Members</h2>
				                        </div><!-- /main-title -->
				                    </div><!-- /section-title -->
						        </div><!-- /col-md-12 -->
						        <div class="feature-boxs-wrapper">
						        	<div id="circleMembers" style="display:none;">
				              		</div>
					                <div id="noCircleMembers" style="display:none;">
					                	<div class="col-md-12">
					                		<div class="feature-box-style2">
					                			<div class="feature-box-title">
					                				<i class="fa fa-users"></i>
					                			</div>
					                			<div class="feature-box-containt">
					                				<h3>No Team Members!!!!</h3>
					                			</div>
					                		</div>
					                	</div>
					                </div>
				              	</div>
				            </div>
				            <!--####################################### /Team Members ###################### -->

							<div id="circle_id" class="hide"><%= params[:id] %></div>
							<div id="state" class="hide"><%= @state %></div>
							<%= render 'circle_modals' %>
				        </div>
	                </div><!-- /feature-boxs-wrapper -->
	            </div>
	        </div><!-- /col-md-12 -->
	    </div><!-- /row -->
	</div><!-- /container -->
</section><!-- /white section-->