<!-- pink landing loading wrapper for TEAM -->
<div class="loader-wrapper" data-ix="display-none">
	<div class="loader-content"><img class="logo-loader" src="<%= asset_path('loader.gif') %>" width="80" alt="549c43b5e136e6e56c054a1e_loader.gif">
	  <div class="loader-text"><span class="loader-text-low-opacity">Loading...<br xmlns="http://www.w3.org/1999/xhtml"></span>your Team Page</div>
	</div>
</div>

<%= render 'layouts/moneaActionBar' %>
<%= render 'layouts/mobileNav' %>
 <!-- authorised ops -->
<div class="w-clearfix content">
    <!-- start of authNav -->
    <nav class="w-nav-menu nav-menu" role="navigation">
      <%= render 'layouts/navButtons' %>
    </nav>  <!-- end of nav -->
    <!-- auth main landing image -->
    <div class="about-hero-container">
      <h1 class="about-hero-title"><%= @circle.display_name %> teamPage</h1>
      <div id="news-flash-container" class="news-splash">
      	<a style="margin-left:65%;">Owner: <%= User.find(@circle.user_id).email %></a>
      	<a data-remote="true" href="<%= destroy_show_circle_path(@circle.id) %>">D</a>
		<a data-remote="true" href="<%= edit_circle_path(@circle.id) %>">U</a>
      </div>
    </div>
    <!-- profile box and actionBoard LANDING/SIGIN partial -->
    <%= render 'landingTeamActionButtons' %>

    <!-- START OF MESSAGES AND PINS -->
    <!-- pending messages left box -->
    <div class="about-div title">
      <h1 class="h1-about">
        <a id="create_team_message" class="add-to-do" href="javascript:void(0)"><img class="contact-icon action-button" src="<%= asset_path('mailB icon.png') %>" alt="asset-error">
        </a>
        team Messages
      </h1>
    </div>

    <% icon_names = ['passion.svg', 'communication.svg', 'diligence.svg', 'innovation.svg', 'reliability.svg' ] %>
    <!-- messages display slider right box -->
    <div class="about-div slider">
      <div class="w-slider slider-about" data-animation="slide" data-duration="500" data-infinite="1">
        <div id="team-messages-container" class="w-slider-mask">
        	<% @messages.each do |m| %>
        		<% index = rand(0..4) %>
                <div id="message-<%= m.id %>" class="w-slide slide-about">
                    <div class="about-slide-container">
                    	<img class="about-icon" src="<%= asset_path(icon_names[index]) %>" alt="asset-error">
                       	<h3><%= m.text %></h3>
                       	<h3><%= m.added_by %></h3>
                   		<h3><a href="javascript:void(0)" data-id="<%= m.id %>" data-item="message" class="destroy-item"><img class="contact-icon action-button" style="display: inline-block;" src="<%= asset_path('trash-white.png')%>" alt="asset-error"></a><h3>
                    </div><!-- about-slide-container -->
                </div><!-- w-slide slide-about -->
            <% end %>
        </div>
        <div class="w-slider-arrow-left slider-left-arrow"><img class="slider-arrow left" src="<%= asset_path('slider arrow right black.png') %>" alt="asset-error">
        </div>
        <div class="w-slider-arrow-right slider-left-arrow right"><img class="slider-arrow" src="<%= asset_path('slider arrow right black.png') %>" alt="asset error">
        </div>
        <div class="w-slider-nav w-round slider-about-nav"></div>
      </div>
    </div>
    <!-- completed tasks left box -->
    <div class="about-div slider">
      <div class="w-slider slider-about" data-animation="slide" data-duration="500" data-infinite="1">
        <div id="team-pins-container" class="w-slider-mask">
          <% @wallpins.each do |wp| %>
        		<% index = rand(0..4) %>
                <div id="pin-<%= wp.id %>" class="w-slide slide-about" style="background-color:#62DF71;">
                    <div class="about-slide-container">
                    	<img class="about-icon" src="<%= asset_path(icon_names[index]) %>" alt="asset-error">
                       	<h3><%= wp.summary %></h3>
                       	<% if wp.file_link %>
	                       	<h3><a href="<%= wp.file_link %>" target="_blank">LinkToFile</a></h3>
                       	<% end %>
                       	<h3 style="font-size:15px;"><%= wp.added_by %></h3>
                   		<h3><a href="#" class="destroy-item" data-id="<%= wp.id %>" data-item="pin"><img class="contact-icon action-button" style="display: inline-block;" src="<%= asset_path('trash-white.png')%>" alt="asset-error"></a><h3>
                    </div><!-- about-slide-container -->
                </div><!-- w-slide slide-about -->
            <% end %>
        </div>
        <div class="w-slider-arrow-left slider-left-arrow"><img class="slider-arrow left" src="<%= asset_path('slider arrow right black.png') %>" alt="asset-error">
        </div>
        <div class="w-slider-arrow-right slider-left-arrow right"><img class="slider-arrow" src="<%= asset_path('slider arrow right black.png') %>" alt="asset error">
        </div>
        <div class="w-slider-nav w-round slider-about-nav"></div>
      </div>
    </div>
    <!-- completed tasks right box -->
    <div class="about-div title">
      <h1 class="h1-about">
      	<a id="create-team-wallpin" href="javascript:void(0)"><img class="contact-icon action-button" src="<%= asset_path('ntask icon.png') %>" alt="asset-error">
        </a>
        team Pins
      </h1>
    </div>
    <!-- START of TEAM FILES -->
    <!-- team files left box -->
    <div id="files-anchor" class="about-div title">
      <h1 class="h1-about">
        <a class="w-inline-block action-button new_doc" href="#">
          <img class="grid-button" src="<%= asset_path('newdoc icon.png') %>" alt="5490da4fafc8621f3f4641f3_grid%20button.svg">
        </a>
        <a class="w-inline-block action-button new_file_import" href="#">
          <img class="grid-button" src="<%= asset_path('import icon.png') %>" alt="5490da4fafc8621f3f4641f3_grid%20button.svg">
        </a>
        <a class="w-inline-block action-button new_ss" href="#">
          <img class="grid-button" src="<%= asset_path('newss icon.png') %>" alt="5490da4fafc8621f3f4641f3_grid%20button.svg">
        </a>
        <br>
        teamFiles
      </h1>
    </div>
    <!-- team files right box -->
    <div class="about-div employees">
      <div id="team-latest-files-container" class="w-clearfix employees-container">
        <!-- files appended here -->
      </div>
    </div>

</div> <!-- end of CLEARFIX CONTENT DIV PART ONE -->

<!-- TEAM MODALS FOR USER ACTIONS -->
<%= render 'circle_modals' %>

<!-- NOTDISPLAYED -->
<div id="circle_id" class="hide"><%= params[:id] %></div>
<div id="gConnect" class="hide">
      <button class="g-signin"
          data-scope="<%= ENV['PLUS_LOGIN_SCOPE'] %>"
          data-requestvisibleactions="http://schemas.google.com/AddActivity"
          data-clientId="<%= ENV['CLIENT_ID'] %>"
          data-state=""
          data-accesstype="offline"
          data-callback="onSignInCallback"
          data-theme="dark"
          data-cookiepolicy="single_host_origin">
      </button>
</div>
<div id="team-owner" data-value="<%= @circle.user_id == @current_user.id %>"></div>



