  <!-- navbar slideDown -->
  <div class="w-clearfix contact" data-ix="display-none">
    <a class="w-inline-block contact-tile" href="https://mail.google.com/mail/" target="_blank">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('mail icon.svg') %>" alt="asset-error">
          <h1 class="contact-title">Emails</h1>
          <div id="user-email-address" class="contact-text">load-error@gmail.com</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _2"href="https://www.google.com/calendar/" target="_blank">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('cal icon.png') %>" alt="asset-error">
          <h1 class="contact-title">Calendar</h1>
          <div class="contact-text">View your Diary
          </div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _3" href="https://drive.google.com/" target="_blank">
        <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('drive icon.png') %>" alt="asset-erro">
          <h1 class="contact-title">Drive</h1>
          <div class="contact-text">View Drive
          <br>Docs, SS + more</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _4" href="#">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('resource icon.png') %>" alt="asset-error">
        <h1 class="contact-title">Resources</h1>
        <div class="contact-text">View templates
          <br>co. Docs + more</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _5" id="disconnect" href="javascript:void(0)">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('exit icon.png') %>" alt="asset-error">
        <h1 class="contact-title">SignOut</h1>
        <div class="contact-text">Finish Work
        </div>
      </div>
    </a>
  </div> <!-- end of navBar -->