  <!-- navbar slideDown -->
  <div class="w-clearfix contact" data-ix="display-none">
    <a class="w-inline-block contact-tile" href="mailto:">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('mail icon.svg') %>" alt="548f17b6f166a77b3a94ad43_mail%20icon.svg">
          <h1 class="contact-title">email</h1>
          <div class="contact-text">contemplate@gmail.com</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _2" href="tel:3401545232">
      <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('phone icon.svg') %>" alt="548f17c887202bb925402a34_phone%20icon.svg">
          <h1 class="contact-title">phone</h1>
          <div class="contact-text">3401545232</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _3" href="#">
        <div class="w-clearfix contact-tile-content">
          <img class="contact-icon" src="<%= asset_path('map icon.svg') %>" alt="548f17d8c9dd0f7c3a0ce251_map%20icon.svg">
          <h1 class="contact-title">find me</h1>
          <div class="contact-text">Studio 1, West Hagley
          <br>United Kingdom</div>
      </div>
    </a>
    <a class="w-inline-block contact-tile _4" href="#">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('twitter icon.svg') %>" alt="54b16b55f585b18b3fbf63fc_twitter%20icon.svg">
        <h1 class="contact-title">Twitter</h1>
      </div>
    </a>
    <a class="w-inline-block contact-tile _5" id="disconnect" href="javascript:void(0)">
        <div class="contact-tile-content"><img class="contact-icon" src="<%= asset_path('facebook icon.svg') %>" alt="54b16b7a6ce3fe8c3f71ee1e_facebook%20icon.svg">
        <h1 class="contact-title">Disconnect</h1>
      </div>
    </a>
  </div> <!-- end of navBar -->